# SSM パラメータストア名
PARAMETER_STORE_NAME_BASIC_AUTH_BASE64="basic_auth_base64"
PARAMETER_STORE_NAME_LINE_NOTIFY_RESTAURANTS="/line_notify/restaurants/token"
PARAMETER_STORE_NAME_LINE_NOTIFY_ERROR="/line_notify/error_notify/token"
PARAMETER_STORE_NAME_LINE_NOTIFY_WARNING="/line_notify/warning_notify/token"
PARAMETER_STORE_NAME_HOTPEPPER_API_KEY="/restaurants/api_key/hotpepper"
PARAMETER_STORE_NAME_GCP_API_KEY="/gcp/restaurants/dev/api_key"
PARAMETER_STORE_NAME_DATABASE_API_KEY=/sakura/restaurants/database_api_key

# 独自ドメイン
DOMAIN="katoo1227.net"

# S3バケットプレフィックス
S3_BUCKET_PREFIX="katoo1227"

# ローカル環境のフロントエンドのリファラー（本番では不使用）
LOCAL_FRONTEND_REFERERS="https://localhost,https://192.168.3.2"